uvicorn==0.34.0
python-dotenv==1.1.0
PyMuPDF==1.25.4
aiofiles==24.1.0
chromadb==1.0.8
langchain_text_splitters==0.3.7
pymupdf4llm==0.0.18
crewai==0.108.0
nvidia-riva-client==2.19.1
lapx==0.5.11
smallestai==2.2.0
openai==1.78.0
beautifulsoup4==4.13.4